{% extends 'auth_base.html' %}
{% block content %}
<form method="POST" class="auth-form">
    <div>
        <label for="username">Username</label>
        <input id="username" type="text" name="username" class="input" placeholder="Your handle" required>
    </div>

    <div>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" class="input" placeholder="Your secret key" required>
    </div>

    <button class="btn btn-primary" type="submit">Log in</button>
</form>

<div class="auth-footer">
    Don't have an account?
    <a href="{{ url_for('register') }}">Create one</a>
</div>

{% endblock %}
