{% extends 'base.html' %}
{% block content %}

<form method="POST" class="space-y-4">
    <input type="text" name="username" placeholder="Username"
           class="w-full border p-2 rounded" required>

    <input type="password" name="password" placeholder="Password"
           class="w-full border p-2 rounded" required>

    <button class="w-full bg-indigo-600 text-white p-2 rounded hover:bg-indigo-700">
        Login
    </button>
</form>

<p class="text-center mt-4 text-sm">
    Don't have an account?
    <a href="{{ url_for('register') }}" class="text-indigo-600 font-semibold">
        Register
    </a>
</p>

{% endblock %}
