{% extends 'auth_base.html' %}
{% block content %}

<form method="POST" class="space-y-4">
    <input type="text" name="username" placeholder="Username"
           class="w-full border p-2 rounded" required>

    <input type="password" name="password" placeholder="Password"
           class="w-full border p-2 rounded" required>

    <button class="w-full bg-green-600 text-white p-2 rounded hover:bg-green-700">
        Register
    </button>
</form>

<p class="text-center mt-4 text-sm">
    Already have an account?
    <a href="{{ url_for('login') }}" class="text-green-600 font-semibold">
        Login
    </a>
</p>

{% endblock %}
